.venv/
.venv
venv
venv/
__pycache__/
env/
.venv-uv/
dist/
*.egg-info/
build/
*.egg
.pytest_cache/
.coverage
.cache/
*.coverage
.vscode/
.idea/
*.swp
*.swo
.env
.env.local
.env.*
.local/
.python-verison
python-version
*python-version
