footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #45a1ff;
    color: #fff;
}


header {
    display: flex;
    justify-content: center;
    padding: 5 px;
    background-color: powderblue;
}


.proxy {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
