html, body {
    height: 100%;
    margin: 0;
}


body {
    display: flex;
    flex-direction: column;
}


footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #45a1ff;
    color: #fff;
}


header {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: powderblue;
}


.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.proxy {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.descriptin {
    margin-bottom: 60px;
    text-align: center;
    max-width: 600px;
}
